@model WebApp.ViewModels.FilmViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Film</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
                <input asp-for="Id" type="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="GenreSelections" class="control-label"></label>
                <br/>
                @{
                    for (var i = 0; i < Model.GenreSelections.Count(); i++)
                    {
                        <input asp-for="GenreSelections[i].Checked" type="checkbox"/>
                        <label asp-for="GenreSelections[i].Id">@Model.GenreSelections[i].Name</label>
                        <input asp-for="GenreSelections[i].Id" type="hidden"/>
                        <input asp-for="GenreSelections[i].Name" type="hidden"/>
                        <br/>
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>